{% load static %}
<link rel="apple-touch-icon-precomposed" href="{% static_url "favicon-152.png" %}">

<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="{% static_url "favicon-144.png" %}">

<meta name="application-name" content="Name">
<meta name="msapplication-tooltip" content="Tooltip">
<meta name="msapplication-config" content="{% static_url "ieconfig.xml" %}">

<link rel="icon" href="{% static_url "favicon-32.png" sizes="32x32" %}">
<link rel="icon" href="{% static_url "favicon-57.png" sizes="57x57" %}">
<link rel="icon" href="{% static_url "favicon-76.png" sizes="76x76" %}">
<link rel="icon" href="{% static_url "favicon-96.png" sizes="96x96" %}">
<link rel="icon" href="{% static_url "favicon-120.png" sizes="120x120" %}">
<link rel="icon" href="{% static_url "favicon-128.png" sizes="128x128" %}">
<link rel="icon" href="{% static_url "favicon-144.png" sizes="144x144" %}">
<link rel="icon" href="{% static_url "favicon-152.png" sizes="152x152" %}">
<link rel="icon" href="{% static_url "favicon-180.png" sizes="180x180" %}">
<link rel="icon" href="{% static_url "favicon-195.png" sizes="195x195" %}">
<link rel="icon" href="{% static_url "favicon-228.png" sizes="228x228" %}">
<link rel="icon" href="{% static_url "smalltile.png" sizes="128x128" %}">
<link rel="icon" href="{% static_url "mediumtile.png" sizes="270x270" %}">
<link rel="icon" href="{% static_url "widetile.png" sizes="558x270" %}">
<link rel="icon" href="{% static_url "largetile.png" sizes="558x558" %}">
<link rel="shortcut icon" sizes="196x196" href="{% static_url "favicon-196.png" %}">
<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{% static_url "favicon.ico" %}" /><![endif]-->
